.goodDet{width: 100%;height: 4000px;margin: 0 auto;position: relative;}
.goodDet .goodsfdj{width: 1210px;height: 510px;margin: 0 auto;}
.goodDet .goodsfdj .rightExtra{padding: 10px 0 0 10px;float: left;width: 400px;}
.goodDet .goodsfdj .goodsxq{width: 600px;height: 400px;float: left;padding-top: 50px;}
.goodDet .goodsfdj .goodsxq h4{padding:30px 0 10px 0;font-size: 20px;}
.goodDet .goodsfdj .goodsxq p{line-height: 60px}
.goodDet .goodsfdj .goodsxq .p1{width: 500px;height: 80px;line-height: 36px;background: #DFDFDF;padding-left: 10px;}
.goodDet .goodsfdj .goodsxq .sjsj{padding-left: 50px;}

.goodDet .goodsfdj .goodsxq .p1 .p2{color: red;font-size: 25px;}
.goodDet .goodsfdj .goodsxq .sl .shul{width: 25px;height: 25px;border: 1px solid #808080;}
.goodDet .goodsfdj .goodsxq .sl .jian,.jia{width: 20px;height: 20px;background: #ccc;border: 1px solid #000000;}
.goodDet .goodsfdj .goodsxq .ljgm{width: 180px;height: 40px;background: red;color: #fff;border-radius: 10px;}
.goodDet .goodsfdj .goodsxq .jrgwc{width: 180px;height: 40px;background: #FF6600;color: #fff;border-radius: 10px;}
.goodDet .ljgm,.jrgwc:hover{cursor: pointer;}
#msg{position:fixed; top:450px; right:520px; z-index:100; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:#360;display: none;}
.goodDet .goodpics{width: 1210px;height: 3000px;margin: 0 auto;}
.goodDet .goodpics .goodLeft{width: 210px;height: 550px;border: 1px solid #ccc;float: left;text-align: center;overflow: hidden;}
.goodDet .goodpics .goodLeft .gunDong{width: 130px;height: 500px;margin: 0 auto;}
.goodDet .goodpics .goodLeft .gunDong ul li{padding-top: 10px;position: relative;top:0;}
.goodDet .goodpics .goodLeft p{line-height: 30px;font-size: 16px;border-bottom: 1px solid #ccc;color: #999999;}
.goodDet .goodpics .goodRt{width: 900px;height: 3000px;float: left;}
.goodDet .goodpics .goodRt ul{width: 800px;height: 44px;padding-left: 20px;position: relative;top:0}
.goodDet .goodpics .goodRt ul li{line-height: 42px;padding: 0 67px;float: left;font-size: 16px;border: 1px solid #DFDFDF;}
.goodDet .goodpics .goodRt ul li.first{background: red;color: #fff;}
.goodDet .goodpics .goodRt ul li:hover{background: red;color: #fff;}
.goodDet .goodpics .goodRt .canshu{width: 780px;height: 100px;padding-left: 20px;border: 1px solid #DFDFDF;margin:0 0 30px 20px;}
.goodDet .goodpics .goodRt .canshu dl{font-size: 16px;}
.goodDet .goodpics .goodRt .bigPic{width: 800px;margin: 0 auto;}
/*----------------------------sidebar------------------------------------------------*/
.gotop{width: 100px;height: 100px;background: #ccc;position: absolute;bottom: 100px;right: 50px;text-align: center;}
.gotop p{font-size:25px ;color: #666666;line-height: 100px;}
