/*-------------------------------------nav-----------------------------------------------------*/
#nav{width: 1200px;height: 115px;margin: 0 auto;position: relative;}
#nav h1{padding-top: 5px;float: left;}
#nav #serch{float: left;width: 600px;padding: 20px 0 0 60px;}
#nav #serch ul{height: 30px;}
#nav #serch ul li{float: left;line-height: 30px;padding:0 15px;}
#nav #serch ul .dianpu{background: #fff}
#nav #serch ul .dianpu:hover{background: #FDEDF0;}
#nav #serch ul .baobei{background: #E31939;color: #fff;}
#nav #serch #txt1{width:450px;height: 32px;border:3px solid #E31939;color: #cca;margin-bottom: 10px; }
#nav #serch ul li:hover{cursor: pointer;}
#nav #serch #btn1{width:80px;height: 32px;border:3px solid #E31939;color: #fff;background:#E31939;font-size: 18px;margin-bottom: 10px;}
#nav #serch #btn1:hover{cursor: pointer;}
#nav #serch a{color: #000;padding: 10px;}
#nav #sanbao{position: absolute;top: 20px;right: 0;height: 80px;text-align: right;width: 200px;background:url(../images/nav-right.png) no-repeat center;}
#nav #sanbao a{width: 33.3%;height: 80px;float: left;display: inline-block;}
#naver{width: 100%;height: 47px;border-bottom: 1px solid #f00}
#naver #naver-big{width: 1210px;line-height: 37px;margin: 0 auto;padding-top: 10px}
#naver #naver-big #naver-left{width: 210px;height: 37px;text-align: center;float: left;background: #E31939;}
#naver #naver-big #naver-left a{font-weight: bold;font-size: 15px;color: #fff;}
#naver #naver-big #naver-right{width: 900px;height: 37px;float: left;padding-left: 20px;}
#naver #naver-big #naver-right ul li{float: left;padding: 0 20px;font-size: 15px;}
#naver #naver-big #naver-right a{color: #000;font-weight: bold;}
#naver #naver-big #naver-right a:hover{color: #f00;}
/*------------------------------------------banner---------------------------------*/
#banner-big{width:100%;height: 514px;position: relative;}
#banner-big #banner{width: 1210px;height: 514px;margin: 0 auto;position: relative;overflow: hidden;} 
#banner-big #banner ul li{width: 100%;height: 514px;position: relative;overflow: hidden;}
#banner-big #banner ul .bn1{background: url(../images/index/banner/banner.jpg) 50% 50% no-repeat;}
#banner-big #banner ul .bn2{background: url(../images/index/banner/banner1.jpg) 50% 50% no-repeat;}
#banner-big #banner ul .bn3{background: url(../images/index/banner/banner2.jpg) 50% 50% no-repeat;}
#banner-big #banner ul .bn4{background: url(../images/index/banner/banner3.jpg) 50% 50% no-repeat;}
#banner-big #banner ul .bn5{background: url(../images/index/banner/banner4.jpg) 50% 50% no-repeat;}
#banner-big #banner ul .bn6{background: url(../images/index/banner/banner5.jpg) 50% 50% no-repeat;}
#banner-big #banner ul .bn7{background: url(../images/index/banner/banner6.png) 50% 50% no-repeat;}
#banner-big #banner #easy{width: 1210px;height: 514px;margin: 0 auto;position: absolute;top:0;left: 0px;}
#banner-big #easy #allgoods{width: 210px;height: 514px;background: rgba(255, 255, 255, 0.8)}

#banner-big #easy #allgoods dl:hover{cursor: pointer;}
#banner-big #easy #allgoods .goodfl{display: none; background: #fff;border: solid 1px #DE1838;box-shadow: 1px 1px 8px #dfdfdf; left: 208px;position: absolute;top: 0;width: 747px;height: 470px;z-index: 11;padding: 20px;}
#banner-big #easy #allgoods .goodfl h3{line-height: 45px;border-bottom: 1px dashed #808080;}
#banner-big #easy #allgoods .goodfl p a{display:inline-block;padding: 5px 20px;color: #000;}
#banner-big #easy #allgoods .goodfl p a:hover{color: #FF4D4D;}
#banner-big #easy #allgoods .goodfl2{display: none; background: #fff;border: solid 1px #DE1838;box-shadow: 1px 1px 8px #dfdfdf; left: 208px;position: absolute;top: 70px;width: 747px;height: 470px;z-index: 11;padding: 20px;}
#banner-big #easy #allgoods .goodfl2 h3{line-height: 45px;border-bottom: 1px dashed #808080;}
#banner-big #easy #allgoods .goodfl2 p a{display:inline-block;padding: 5px 20px;color: #000;}
#banner-big #easy #allgoods .goodfl2 p a:hover{color: #FF4D4D;}
#banner-big #easy #allgoods .feiji{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat}
#banner-big #easy #allgoods .feiji1{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat left -25px}
#banner-big #easy #allgoods .feiji2{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat left -50px}
#banner-big #easy #allgoods .feiji3{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat left -72px}
#banner-big #easy #allgoods .feiji4{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat left -95px}
#banner-big #easy #allgoods .feiji5{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat left -118px}
#banner-big #easy #allgoods .feiji6{line-height: 22px;padding-left: 42px;display: block;width: 146px;background:url(../images/banner/ico.png) no-repeat left -143px}
#banner-big #easy #allgoods dl{width: 200px;}
#banner-big #easy #allgoods dl{padding: 12px 5px;border-bottom: 1px solid #CCCCCC;}
#banner-big #easy #allgoods dl dd{line-height: 22px;padding-left: 42px;display: block;width: 146px;}
#banner-big #banner #banner-bt{position: absolute;left:200px;bottom: 0;}
#banner-big #banner #banner-bt a{padding: 1px;}
#banner-big #banner #banner-rt{position: absolute;right:0;top: 0;width: 200px;height: 335px;background: rgba(255, 255, 255, 0.8);}
#banner-big #banner #banner-rt .fangshi{font-size: 18px;line-height: 30px;border-bottom: 1px solid #000;}
#banner-big #banner #banner-rt ol li p{line-height: 20px;}
#banner-big #banner #banner-rt ol li p span{background:#E31939;width: 20px;display: inline-block;text-align: center;margin: 10px;}
#banner-big #banner #banner-rt ol li .ddh{padding-left: 38px;line-height: 35px;}
#banner-big #banner #banner-rt ol li .call{padding-left: 38px;font-size: 24px;color: darkred;line-height: 20px;}
#banner-big #banner #banner-rt img{padding-left:60px ;width: 50px;height: 50px;}
#banner-big #banner #banner-rt #banner-rt-bt{text-align: center;position: relative;}
#banner-big #banner #banner-rt #banner-rt-bt p{padding-top:20px;font-size: 18px;}
#banner-big #banner #banner-rt #shenqing{background: #FF7900;width: 150px;height: 50px;margin: 0 auto;border-radius: 5px;margin-top: 30px;}
#banner-big #banner #banner-rt #shenqing a{color: #fff;}
#banner-big #banner #banner-rt #shenqing .ruzhu{font-size: 20px;}
#banner-big #banner #banner-rt .guanli{display:block;padding-top: 30px;}
#banner-big #banner #banner-rt .guanli:hover{color: red;}
/*------------------------------sidebar----------------------------------*/
#sidebar{height: 100%;width: 35px;position: fixed;top: 0;right: 0;padding-top: 1px;background-color:#333;z-index: 99999 ;}
/*------------------------------------main----------------------------------------------*/
#main{width: 100%;height: 380px;}
#main{width: 1210px;height: 370px;margin: 0 auto ;}
#main #titlebox{width: 1210px;height: 43px}
#main #titlebox ul li{float: left;font-size: 16px;width: 90px;height: 43px;line-height: 43px;text-align: center; margin-right: 15px;cursor: pointer;font-family: "微软雅黑";border-bottom: 2px solid #fff ;}

#main #titlebox ul li:hover{color: #FF0000;border-bottom: 2px solid #dd102e ;}
.hide{display: none;}
.show{display: block;}
#main .logobox{width:1180px;height: 290px;border: 1px solid #CCCCCC;padding:20px 0 0 20px;overflow: hidden;}

#main .logobox ul li{width: 180px;height:80px;float: left;position: relative;   margin: 0 15px 15px 0;overflow: hidden;}
/*----------------------------------热门店铺-----------------------------------------------*/
#hotStores{width: 100%;height: 360px;}
#hotStores #hot{width: 1210px;height: 360px;margin: 0 auto;}
#hotStores #hot .hota{background: url(../images/common/header/little.png) no-repeat;display: block;    margin: 15px 0 8px;height: 20px;line-height: 20px;font-size: 17px;font-weight: 700;color: #000;width: 192px;text-indent: -1000em;height: 25px;}
#hotStores #hot .hotmore a{float: right;line-height: 30px;background: url(../images/index/jt.png) no-repeat right;padding-right: 10px;}
#hotStores #hot #tabl{float: left;}
#hotStores #hot #tabc{float: left;width: 780px;height: 326px}
#hotStores #hot #tabc ul li{float: left;width: 122px;height: 86px;border:1px solid #ccc;text-align: center;padding-top: 20px;position: relative;}
#hotStores #hot #tabr{float: right;}
/*-------------------fkqk-big-------------------------------------------*/
#fkqg-big{width: 100%;height: 350px;}
#fkqg-big #fkqg{width: 1210px;height: 350px;margin: 0 auto;}
#fkqg-big #fkqg #fkqg-ul{width: 1210px;height: 48px;}
#fkqg-big #fkqg #fkqg-ul ul li{float: left;line-height: 42px;width: 200px;text-align: center;}
#fkqg-big #fkqg #fkqg-ul ul li:hover{border-bottom: 2px solid #dd102e;}
#fkqg-big #fkqg #fkqg-ul ul li a{font-size: 20px;}
#fkqg-big #fkqg #fkqg-dl dl{border:1px solid #ccc;width: 198px;height: 280px;padding-top: 10px;float: left;}
#fkqg-big #fkqg #fkqg-dl dl dt{text-align:center;}
#fkqg-big #fkqg #fkqg-dl dl dt img{width: 180px;height: 180px;}
#fkqg-big #fkqg #fkqg-dl dl dd{width: 180px;line-height: 30px;color: #000;padding: 0 10px;}
#fkqg-big #fkqg #fkqg-dl dl dd span{color: #f00;}
/*--------------------------------------楼梯----------------------------------------------*/
#lou{width: 100%;}
#lou #main{width: 1210px;height:5680px;margin: 0 auto;}
#lou #main .louti{width: 1210px;height: 710px;}
#loutiNav{position: fixed;top: 35%;left: 40px;width: 40px;display: none;}
#loutiNav ul li{position: relative;width: 40px;height: 30px;text-align: center;line-height: 30px;font-size: 12px;list-style: none;cursor: pointer;border-bottom: 1px dotted #AAAAAA;}
#loutiNav ul li.last{color: #fff;background: darkred;border-bottom: none;}
#loutiNav ul li span{display: none;width: 40px;height: 30px;position: absolute;top: 0;left: 0;color: red;}
#loutiNav ul li:hover span{display: block;background: red;}
#loutiNav ul li:hover span a{color: #fff;}
#loutiNav ul li span.active{display: block;background:red;}
#loutiNav ul li span.active a{color: #fff;}
#loutiNav ul li:hover span.active{display: block;background: red;}
#lou #main .louti .floor{width: 1210px;height: 620px;}
#lou #main .louti .floor .floorl{width: 240px;height: 600px;float: left;}
#lou #main .louti .floor .floorl h2{font-size: 22px;height: 35px;line-height: 35px;} 
#lou #main .louti .floor .floorl a{color: #666666;}
#lou #main .louti .floor .floorl .words{padding: 10px 0;background: limegreen;width: 240px;height: 250px;}
#lou #main .louti .floor .floorl .words a{margin: 0;background: #fff;line-height: 1.1em;float: left;width: 66px;    height: 45px; text-align: center;color: #2f2f2f; position: relative;border-radius:35px;margin: 5px;padding-top: 23px;border: 1px solid #999999;} 
#lou #main .louti .floor .floorl .words a:hover{background:limegreen ;color: #fff;}
#lou #main .louti .floor .floortab {width: 820px;height: 600px;float: left;position: relative;}
#lou #main .louti .floor .floortab .goods .tabnav li{float: left;line-height: 34px;padding: 0 10px;border: 1px solid #32CD32;}
#lou #main .louti .floor .floortab .goods .tabnav{position: absolute;right: -150px;top: 2px;}
.goods .good{margin-top: 38px;float: left;}
#lou #main .louti .floor .floortab .goods .good dl{width: 180px;height:260px;padding: 10px;border: 1px solid #ccc;float: left;}
#lou #main .louti .floor .floortab .goods .good img{width: 160px;}
#lou #main .louti .floor .floortab .goods .good a{color: #000;}
#lou #main .louti .floor .floortab .goods .good .youhui{color: orangered;font-size: 20px;}
#lou #main .louti .floor .floortab .goods .good dd{position: relative;width: 160px;}
#lou #main .louti .floor .floortab .goods .good .gwc{width:30px;height:30px;position: absolute;bottom: 0;right: 10px;background:url(../images/index/gouwuche.png)  no-repeat;}
#lou #main .louti .floor .floor{padding-top: 38px;}
#lou #main .louti .floor .floor img{padding:7px 0}
#lou #main .louti .floorbt{width: 1210px;height: 80px;margin: 0 auto;background: #AAAAAA;overflow: hidden;position: relative;}

#lou #main .louti .floorbt ul{width: 20000px;position: absolute;}
#lou #main .louti .floorbt ul li{float: left;padding: 17px 10px ;}
#lou #main .louti .floorbt .spanl,.spanr{display: none;}
#lou #main .louti .floorbt:hover .spanl{display:block;position: absolute;left: 0;background: rgba(255, 200, 255, 0.8);top:20%}
#lou #main .louti .floorbt:hover .spanr{display:block;position: absolute;right: 0;background: rgba(255, 200, 255, 0.8);top:20%}

